.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  width: 100%;
  height: auto;
}
.embed-container iframe {

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.embed-container.ratio4x3 {
  padding-bottom: 75%;
}

#card {
  align-content: center;
  align-items: center;
  align-self: center;
  align-text: center;
}

.ui.cards {
  align-content: center;
  align-items: center;
  align-self: center;
  align-text: center;
}

h1 {
  text-align: center;
}

.responsive {
    width: 100%;
    height: auto;
}
